@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@600&display=swap');

@font-face {
    font-family: 'Compagnon';
    font-weight: 600;
    src: local('Compagnon'),
         url('../fonts/Compagnon-Medium.eot') format('embedded-opentype'),
         url('../fonts/Compagnon-Medium.woff') format('woff'),
         url('../fonts/Compagnon-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Compagnon';
    font-weight: 400;
    src: local('Compagnon'),
         url('../fonts/Compagnon-Roman.eot') format('embedded-opentype'),
         url('../fonts/Compagnon-Roman.woff') format('woff'),
         url('../fonts/Compagnon-Roman.woff2') format('woff2');
}

body {
    background: 
    radial-gradient(circle 200px at 100% 10%,
    #479CFF 2%, rgba(0, 0, 0, 0)),
    radial-gradient(circle 400px at 100% 80%,
    #479CFF 2%, rgba(0, 0, 0, 0)),
    radial-gradient(circle 600px at 0% 50%,
    #FF7E47 15%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

body #wrap {
    margin: 0 10% 0 10%;
}

nav {
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 1px;
    position: sticky;
    top: 0px;
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

body div > div {
    width: 50%;
}

h1, h2 {
    font-family: 'Rokkitt', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 42px;
}

p {
    font-family: 'Compagnon', sans-serif;
    font-weight: 600;
    opacity: 60%;
    font-size: 20px;
}

a {
    font-family: 'Compagnon', sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.row {
    width: 100%;
    border-bottom: solid white 1px;
    padding-bottom: 20px;
}

pre {
    font-family: 'Compagnon', sans-serif;
    font-weight: 600;
    opacity: 100%;
    font-size: 18px;
}