@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@600&display=swap');

@font-face {
    font-family: 'Compagnon';
    font-weight: 600;
    src: local('Compagnon'),
         url('../fonts/Compagnon-Medium.eot') format('embedded-opentype'),
         url('../fonts/Compagnon-Medium.woff') format('woff'),
         url('../fonts/Compagnon-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Compagnon';
    font-weight: 400;
    src: local('Compagnon'),
         url('../fonts/Compagnon-Roman.eot') format('embedded-opentype'),
         url('../fonts/Compagnon-Roman.woff') format('woff'),
         url('../fonts/Compagnon-Roman.woff2') format('woff2');
}

body {
    background: 
    radial-gradient(circle 200px at 100% 10%,
    #479CFF 2%, rgba(0, 0, 0, 0)),
    radial-gradient(circle 400px at 100% 80%,
    #479CFF 2%, rgba(0, 0, 0, 0)),
    radial-gradient(circle 600px at 0% 50%,
    #FF7E47 15%, rgba(0, 0, 0, 1) 100%);
    color: white;
    background-repeat: no-repeat;
}

body #wrap {
    margin: 0 10% 0 10%;
}

nav {
    padding: 80px 10% 0 10%;
    position: sticky;
    top: 0px;
    z-index: 1;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: solid white 1px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

nav span {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.hamburger {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.width-50 {
    width: 50%;
}

h1, h2 {
    font-family: 'Compagnon', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 36pt;
}

h2 {
    font-size: 30pt;
}

p {
    font-family: 'Compagnon', sans-serif;
    font-weight: 600;
    opacity: 60%;
    font-size: 15pt;
}

p > a {
    font-size: 15pt;
}

p > a:hover {
    text-decoration: underline;
}

a {
    font-family: 'Compagnon', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    color: white;
    text-decoration: none;
}

blockquote {
    font-family: 'Compagnon', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    border: solid white 1px;
    margin: 0px;
    padding: 20px;
}

a:hover {
    text-decoration: underline;
}

.row {
    width: 100%;
    border-bottom: solid white 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row > pre:last-of-type {
    width: 70%;
}

pre {
    font-family: 'Compagnon', sans-serif;
    font-weight: 600;
    opacity: 100%;
    font-size: 12pt;
}

#haiku_js {
    width: 100%;
}

footer {
    font-family: 'Compagnon', sans-serif;
    font-weight: 600;
    opacity: 60%;
    font-size: 10pt;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}